{
	"tabWidth": 2,
	"useTabs": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"semi": true,
	"singleQuote": true,
	"singleAttributePerLine": true,
	"trailingComma": "all",
	"jsxSingleQuote": true
}
